$color-gradient: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
$borderRadius: 40px
$shadowBox: 0px 5px 10px 0px rgba(0, 0, 0, 0.3)

*, *::before, *::after
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  -webkit-touch-callout: none /* Отключение контекстного меню */
  -webkit-user-select: none /* Отключение выделения в Safari */
  -khtml-user-select: none /* Отключение выделения в Konqueror */
  -moz-user-select: none /* Отключение выделения в Firefox */
  -ms-user-select: none /* Отключение выделения в IE/Edge */
  user-select: none /* Отключение выделения в браузерах по умолчанию */

h1, h2, h3, h4, a, button, input
  font-weight: inherit
  font-size: inherit
  font-family: "Shantell Sans", cursivef
  color: var(--text-color)

ol, ul
  list-style: none

a
  color: var(--text-color)

.border_color
  border: 1px solid var(--border-color)
  box-shadow: 0px 4px 8px var(--box-shadow-color)

button
  color: var(--text-color)

.delete-button
  background-color: transparent
  border: none
  color: var(--btn-delete-color)
  padding: 10px 15px
  font-size: 16px
  cursor: pointer
  border-radius: 5px
  display: inline-flex
  align-items: center
  justify-content: center
  transition: background-color 0.3s, color 0.3s

  &:hover
    background-color: rgba(0, 0, 0, 0.1)

.foo
  width: 200px
  border: $borderRadius !important
  background-color: $color-gradient !important
  text-align: center

.timer
  color: var(--text-color)
  font-size: 3em
  padding: 20px

.mainPage
  font-size: 2em

html, body
  height: 100%
  margin: 0
  padding: 0
  font-weight: 300
  font-family: "Shantell Sans", cursive
  color: var(--text-color)
  background: var(--bg-color)

input
  background: transparent
  font-weight: 100
  outline: 0
  color: var(--text-color)
  padding-left: 30px

.bold
  font-weight: 400
  font-size: 27px

.appContainer
  position: absolute
  // height: 100%
  width: 100%

.menuFizi
  font-size: 25px
  background: var(--fizi-gradient)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.btnDiv
  padding: 10px

.btn-grad
  width: 100%
  box-shadow: $shadowBox
  background-image: var(--btn-gradient-color)
  margin-top: 25px
  padding: 13px 23px
  text-align: center
  // text-transform: uppercase
  background-size: 200% auto
  color: var(--text-color)
  border-radius: $borderRadius
  perspective: 1000px /* Добавим перспективу */
  display: inline-block /* Добавим блоковое поведение для кнопки */
  animation: gradient-scroll 3s linear infinite /* Анимация прокрутки фона */

  &:hover
    background-position: right center
    color: var(--text-color)
    text-decoration: none

.btn-gard:disabled
  background-image: none
  background-color: transparent

.form_create
  font-size: 30px
  font-weight: 100

.containerFormCreate
  font-size: 18px
  display: flex
  justify-content: center
  text-align: left
  flex-direction: column /* Для мобильных устройств */
  align-items: center /* Центровка содержимого */
  margin-bottom: 60px

.formCreate
  display: flex
  flex-direction: column
  justify-content: center
  justify-items: center
  align-items: center
  width: 100% /* Уменьшение ширины для мобильных устройств */
  max-width: 450px /* Максимальная ширина для больших экранов */
  border: 1px solid rgba(255, 255, 255, 0.1)
  padding: 40px
  // margin-top: 35px
  box-shadow: $shadowBox
  border-radius: $borderRadius

.formElement
  width: 100%
  padding: 5px
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0

.formElement_tod
  width: 100% /* Адаптация для мобильных устройств */
  // padding: 10px
  display: flex
  justify-content: space-around
  align-items: center
  text-align: center
  align-content: center

.input-gradient
  text-align: center
  width: 100% /* Адаптация для мобильных устройств */
  max-width: 50% /* Максимальная ширина для больших экранов */
  border-radius: $borderRadius
  padding: 20px
  margin: 20px 0
  border: 1px solid rgba(255, 255, 255, 0.1)
  box-shadow: $shadowBox
  color: var(--text-color)

  &:focus, &:hover
    box-shadow: none
    border-bottom: 1px
    border-style: solid
    border-image: var(--gradient-color) 1
    border-radius: $borderRadius

.mainContainer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100%
  width: 100%
  text-align: center
  margin: 0
  padding: 0
  margin-bottom: 50px

.btn_rock, .btn_paper, .btn_sci
  text-align: center
  margin: 20px
  width: 150px
  height: 150px
  background-repeat: no-repeat
  background-color: unset
  border-radius: 15px

.btn_rock
  background-image: url("./PRS/rock.svg")
  background-repeat: no-repeat
  background-position: center
.btn_paper
  background-image: url("./PRS/toilet-paper.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.btn_sci
  background-image: url("./PRS/scissors.svg")
  background-repeat: no-repeat
  background-position: center

.waiting
  animation: flicker 4s infinite

.card
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 8px
  padding: 20px
  margin: 20px 0
  text-align: center
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
  width: 80%
  max-width: 450px
  min-height: 100px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: #000 !important

.card h3
  margin: 0

@keyframes flicker
  0%
    opacity: 1

  100%
    opacity: 0

.name_button
  padding: 10px 20px
  margin-bottom: 20px
  font-size: 1.5rem
  background-color: transparent
  border-bottom: 1px solid
  border-radius: 12px

@media (max-width: 768px)
  .timer
    font-size: 2em
    padding: 20px

  .mainPage
    font-size: 1.5em

  .formCreate
    width: 90%
    padding: 20px

  .input-gradient
    width: 90%

  .btn_rock, .btn_paper, .btn_sci
    width: 100px
    height: 100px

@media (max-width: 480px)
  .timer
    font-size: 1.5em
    padding: 10px

  .mainPage
    font-size: 1.2em

  .formCreate
    width: 100%
    padding: 15px

  .input-gradient
    width: 100%

  .btn_rock, .btn_paper, .btn_sci
    width: 80px
    height: 80px

// Code Names -----------------------------------------------------
.containerCodenames
  margin: 0 auto
  max-width: 700px
  font-size: 18px
  display: flex
  justify-content: center
  text-align: left
  flex-direction: column /* Для мобильных устройств */
  align-items: center /* Центровка содержимого */

.grid
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  gap: 12px

.word
  flex: 1 0 120px
  max-width: 110px
  // height: 40px
  display: flex
  align-items: center
  justify-content: center
  padding: 20px
  cursor: pointer
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1)
  text-align: center
  transition: background-color 0.3s, border 0.3s
  border-radius: 12px
  border: 1px solid rgba(0, 0, 0, 0.3)

  &.revealed
    background-color: lightgray

  &.red.revealed
    background-color: #FF6666
    color: white

  &.blue.revealed
    background-color: #00bfff
    color: white

  &.neutral.revealed
    background-color: gray
    color: white

  &.bomb.revealed
    background-color: black
    color: white

  &.red-border
    border: 2px solid #FF6666

  &.blue-border
    border: 2px solid #00bfff

  &.neutral-border
    border: 2px solid gray

  &.bomb-border
    border: 2px solid black

.buttonCode
  padding: 10px 20px
  font-size: 16px
  cursor: pointer
  transition: background-color 0.3s, box-shadow 0.3s
  border-radius: 8px
  border: none
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1)
  margin: 20px
  width: 300px

  &:hover
    background-color: #ddd

  &:active
    box-shadow: none

.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center

.modal-content
  background: white
  padding: 20px
  border-radius: 8px
  text-align: center
  color: black !important

@media (max-width: 1200px)
  .word
    flex: 1 0 calc(25% - 15px)
    max-width: calc(25% - 15px)

@media (max-width: 900px)
  .word
    flex: 1 0 calc(25% - 15px)
    max-width: calc(25% - 15px)

@media (max-width: 600px)
  .word
    flex: 1 0 calc(33.33% - 15px)
    max-width: calc(33.33% - 15px)
    height: 40px
    width: 80px

@keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0.3
  100%
    opacity: 1

.info_captain
  position: absolute
  bottom: 150px
  left: 100px
  animation: blink 3s infinite

.progress
  margin-left: 30px
  margin-bottom: 20px
